<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_buscador.css" rel="stylesheet"/>
    <title>CM - Buscador</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_buscador.css" rel="stylesheet"/>
    <title>CM - Buscador</title>
</head>
<body>
    <div class="desktop4-container">
        <div class="desktop4-desktop4">
          <div class="desktop4-frame1">
            <img
              src="../assets/ChatMaster.png"
              alt="ChatMaster"
              class="desktop4-chat-master2"
            />
            <div class="desktop4-divheader6m5op-b">
              <span class="desktop4-text"><span>BUSCAR SERVIDORES</span></span>
            </div>
          </div>
          <div class="desktop4-divmargin-bottom20315rvt">
            <input type="text" id="searchInput" placeholder="Ingrese el nombre del servidor a buscar" class="desktop4-divinput3o04eu" />
          </div>
          <a href="../templates/main.html" class="desktop4-button">
              <span class="desktop4-text2"><span>Inicio</span></span>
          </a>
          <button class="desktop4-button1" id="searchButton">
            <span class="desktop4-text4"><span>Buscar</span></span>
          </button>
          <select id="serverDropdown" style="display: none;"></select>
        </div>
    </div>
    <script src="../scripts/buscador.js"></script>
</body>
</html>