<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_crear_servidor.css" rel="stylesheet"/>
    <title>CM - Crear Servidor</title>
</head>
<body>
  <div class="desktop6-container">
    <div class="desktop6-desktop6">
      <div class="desktop6-form">
        <div class="desktop6-divflex2s1xbf">
          <div class="desktop6-divmain-login-containerw-hm-aj-p">
            <div class="desktop6-divheader6m5op-b">
              <span class="desktop6-text">CREAR SERVIDOR</span>
            </div>
            <div class="desktop6-divblock3u-vsn4">
              <div class="desktop6-divmargin-bottom20315rvt">
                <div class="desktop6-label">
                  <span class="desktop6-text01"><span>Nombre</span></span>
                  <span class="desktop6-text03">*</span>
                </div>
                <input
                  type="text"
                  id="texto_nombre"
                  placeholder
                  class="desktop6-divinput3o04eu"
                />
              </div>
            </div>
            <div class="desktop6-divblock3u-vsn41">
              <div class="desktop6-divmargin-bottom20315rvt1">
                <div class="desktop6-label1">
                  <span class="desktop6-text04">
                    <span>Imagen del servidor</span>
                  </span>
                  <span class="desktop6-text06">*</span>
                </div>
                <input
                  type="file"
                  accept="image/*"
                  placeholder="Selecciona una imagen"
                  class="desktop6-divinput3o04eu1"
                />
              </div>
            </div>
            <button type="submit" class="desktop6-button" id="crear_servidor" >
              <div class="desktop6-divcontents3nemb-x">
                <span class="desktop6-text07">Crear servidor</span>
              </div>
            </button>
            <a href="../templates/main.html" class="desktop6-frame3">
              <span class="desktop6-text08"><span>Volver al Inicio</span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="desktop6-frame2">
        <img
          src="../assets/ChatMaster.png"
          alt="ChatMaster"
          class="desktop6-chat-master1"
        />
      </div>
    </div>
  </div>
  <script src="../scripts/crear_servidor.js"></script>
</body>
</html>
