<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_crear_servidor.css" rel="stylesheet"/>
    <title>CM - Crear Servidor</title>
</head>
<body>
    <div class="desktop6-container">
        <div class="desktop6-desktop6">
          <div class="desktop6-form">
            <div class="desktop6-divflex2s1xbf">
              <div class="desktop6-divmain-login-containerw-hm-aj-p">
                <div class="desktop6-divheader6m5op-b">
                  <span class="desktop6-text">CREAR SERVIDOR</span>
                </div>
                <div class="desktop6-divblock3u-vsn4">
                  <div class="desktop6-divmargin-bottom20315rvt">
                    <div class="desktop6-label">
                      <span class="desktop6-text1"><span>Nombre</span></span>
                      <span class="desktop6-text3">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese un nombre para el servidor"
                      class="desktop6-divinput3o04eu"
                    />
                  </div>
                  <div class="desktop6-div"></div>
                </div>
                <button class="desktop6-button">
                  <div class="desktop6-divcontents3nemb-x">
                    <span class="desktop6-text4">Crear</span>
                  </div>
                </button>
                <div class="desktop6-frame3">
                    <a href="../templates/main.html">
                        <span class="desktop6-text5"><span>Volver al Inicio</span></span>
                    </a>
                </div>
              </div>
              <div class="desktop6-divqr-login-inner1pht-z"></div>
              <img
                src="../assets/ChatMaster.png"
                alt="ChatMaster"
                class="desktop6-divvertical-separator2r9g-ha"
              />
            </div>
          </div>
          <div class="desktop6-frame2">
            <img
              src="../assets/ChatMaster.png"
              alt="ChatMaster"
              class="desktop6-chat-master1"
            />
          </div>
        </div>
      </div>
</body>
</html>