<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_inicio.css" rel="stylesheet" />
    <title>ChatMaster</title>
</head>
<body>
    <div class="desktop1-container">
        <div class="desktop1-desktop1">
          <div class="desktop1-hero-wrapper">
            <div class="desktop1-hero-wrappertext">
              <div class="desktop1-header-text">
                <span class="desktop1-text"><span>Bienvenidx!</span></span>
                <span class="desktop1-text02">
                  <span>
                    <span>Tu plataforma de comunicación en línea.</span>
                    <br />
                    <span>
                      Únete a miles de usuarios de todo el mundo para chatear,
                      compartir ideas y estar conectado con amigxs y colegas.
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="desktop1-hero-wrapperimage">
              <div class="desktop1-hero-wrapperimagecenter">
                <img
                  src="../assets/ChatMaster.png"
                  alt="ChatMaster"
                  class="desktop1-webdevelopment1"
                />
              </div>
            </div>
          </div>
          <button onclick="window.location.href='../templates/registro.html'" class="desktop1-btn-primary">
              <span class="desktop1-text07 ButtonTextbtnLg">
                  <span>Regístrate</span>
              </span>
          </button>
          <button onclick="window.location.href='../templates/login.html'" class="desktop1-btn-primary1">
              <span class="desktop1-text09 ButtonTextbtnLg">
                  <span>Iniciar Sesión</span>
              </span>
          </button>
        </div>
      </div>
</body>
</html>

