<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión en ChatMaster</title>
    <link rel="stylesheet" href="../styles/styles_login.css">
</head>
<body>
    <div class="desktop2-container">
        <div class="desktop2-desktop2">
          <div class="desktop2-form">
            <div class="desktop2-divflex2s1xbf">
              <div class="desktop2-divmain-login-containerw-hm-aj-p">
                <div class="desktop2-divheader6m5op-b">
                  <span class="desktop2-text"><span>¡Hola de nuevo!</span></span>
                  <span class="desktop2-text02">
                    <span>¡Nos alegramos mucho de volver a verte!</span>
                  </span>
                </div>
                <div class="desktop2-divblock3u-vsn4">
                  <div class="desktop2-divmargin-bottom20315rvt">
                    <div class="desktop2-label">
                      <span class="desktop2-text04"><span>Email</span></span>
                      <span class="desktop2-text06">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="ejemplo@ejemplo.com"
                      class="desktop2-divinput3o04eu"
                    />
                  </div>
                  <div class="desktop2-div">
                    <div class="desktop2-label1">
                      <span class="desktop2-text07"><span>Contraseña</span></span>
                      <span class="desktop2-text09">*</span>
                      
                    </div>
                    <input
                      type="password"
                      placeholder="Ingrese su contraseña"
                      class="desktop2-input-password"
                      id="password-input"
                    />
                    <span id="toggle-password" class="toggle-password">👁️</span>
                  </div>
                  <button class="desktop2-button">
                    <div class="desktop2-divcontents3nemb-x">
                      <span class="desktop2-text10">Iniciar sesión</span>
                    </div>
                  </button>
                  <div class="desktop2-divmargin-top42jfjji">
                    <span class="desktop2-text11">¿Necesitas una cuenta?</span>
                    <a href="../templates/registro.html" class="desktop2-text12">Regístrate</a>
                  </div>
                </div>
              </div>
              <img
                src="../assets/ChatMaster.png"
                alt="ChatMaster"
                class="desktop2-divvertical-separator2r9g-ha"
              />
              <div class="desktop2-divqr-login-inner1pht-z"></div>
            </div>
          </div>
          <img
            src="../assets/ChatMaster.png"
            alt="ChatMaster"
            class="desktop2-chat-master1"
          />
        </div>
      </div>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>