<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_main.css" rel="stylesheet" />
    <title>ChatMaster</title>
</head>
<body>
    <div class="desktop3-container">
      <div class="desktop3-desktop3">
        <div class="desktop3-discord-dark">
          <div class="desktop3-divchat">
            <div class="desktop3-divcontainer">
              <div class="desktop3-divcontainer1">
                <img
                  src="../assets/avatar1.jpg"
                  alt="Slightlysmilingface2013"
                  class="desktop3-slightlysmilingface"
                />
                <img src="../assets/logo_cm.png" alt="svgicon2013" class="desktop3-svgicon" />
                <img src="../assets/ChatMaster.png" alt="svgicon2014" class="desktop3-svgicon1" />
                <input type="text" class="desktop3-text" placeholder="Escribe tu mensaje">
                <div class="desktop3-divicon"></div>
              </div>
              <div class="desktop3-group57">
                <img
                  src="../assets/enviar.png"
                  alt="Enviar"
                  class="desktop3-filledcontentsend"
                />
              </div>
            </div>
            <img
              src="/divbar2014-28es.svg"
              alt="divbar2014"
              class="desktop3-divbar"
            />
            <div class="desktop3-divtitlecontainer">
              <div class="desktop3-divtoolbar">
                <div class="desktop3-divsearch-bar">
                  <input type="text" class="desktop3-search-input" placeholder="Buscar">
                  <div class="desktop3-search-button">
                    <img src="../assets/buscar.png" alt = Buscar>
                  </div>
                </div>
              </div>
              <div class="desktop3-divchildren">
                <img src="." alt="svgicon2016" class="desktop3-svgicon3" />
                <div class="desktop3-h3title">
                  <span class="desktop3-text04"><span>general</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="desktop3-divsidebar">
            <div class="desktop3-divscroller">
              <div class="desktop3-divpanels">
                <a href="../templates/usuario.html" class="desktop3-link-button">
                  <img
                    src="../assets/configuraciones.png"
                    alt="svgicon2017"
                    class="desktop3-svgicon4"
                  />
                </a>
                <div class="desktop3-divavatar">
                  <div class="desktop3-avatar">
                    <img
                      src="../assets/user.png"
                      alt="divavatar2018"
                      class="desktop3-divavatar1"
                    />
                    
                  </div>
                  
                </div>
                <span class="desktop3-text06"><span>spencercamp</span></span>
              </div>
              <div class="desktop3-divcontent">
                <a href="../templates/modificar_canal.html">
                  <img
                    src="../assets/configuraciones.png"
                    alt="svgactionIcon2020"
                    class="desktop3-svgaction-icon"
                  />
                </a>
                <span class="desktop3-text08"><span>general</span></span>
                <img
                  src="../assets/hashtag.png"
                  alt="svgicon2021"
                  class="desktop3-svgicon5"
                />
              </div>
              <div class="desktop3-divcontainer2">
                <a href="../templates/crear_canal.html">
                  <img
                    src="../assets/anadir.png"
                    alt="crear_canal"
                    class="desktop3-svgicon6"
                  />
                </a>
                <a href="../templates/modificar_servidor.html">
                </a>
                <span class="desktop3-text10"><span>CANALES</span></span>
              </div>
            </div>
            <img
              src="../assets/logo_cm.png"
              alt="divbar2022"
              class="desktop3-divbar1"
            />
            <div class="desktop3-headerheader">
              <a href="../templates/modificar_servidor.html" class="desktop3-h1name">
                <span class="desktop3-text12">Nombre Servidor</span>
              </a>
            </div>
          </div>
          <div class="desktop3-navwrapper">
            <a href="../templates/buscador.html" class="desktop3-divlist-item">
              <img
                src="../assets/buscar.png"
                alt="Buscar"
                class="desktop3-child-wrapper"
              />
            </a>  
            </div>
            <div class="desktop3-divlist-item1">
              <a href="../templates/crear_servidor.html" class="desktop3-anadir2-link">
              <img
                src="../assets/anadir.png"
                alt="Crear servidor"
                class="desktop3-anadir2"
              />
            </a>
            </div>
            <div class="desktop3-divlist-item2">
              <img
                src="/divguildseparator2024-7vej.svg"
                alt="divguildSeparator2024"
                class="desktop3-divguild-separator"
              />
            </div>
          </div>
          <img
            src="../assets/logo_cm.png"
            alt="logocm12026"
            class="desktop3-logocm1"
          />
        </div>
      </div>
    </div>
  </div>
</body>
</html>