<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_modificar_perfil.css" rel="stylesheet"/>
    <title>CM - Modificar Perfil</title>
</head>
<body>
    <div class="desktop11-container">
        <div class="desktop11-desktop11">
          <div class="desktop11-form">
            <div class="desktop11-divflex2s1xbf">
              <div class="desktop11-divmain-login-containerw-hm-aj-p">
                <div class="desktop11-divheader6m5op-b">
                  <span class="desktop11-text"><span>MODIFICAR PERFIL</span></span>
                </div>
                <div class="desktop11-divblock3u-vsn4">
                  <div class="desktop11-divmargin-bottom20315rvt">
                    <div class="desktop11-label">
                      <span class="desktop11-text02"><span>Nombre</span></span>
                      <span class="desktop11-text04">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese su nombre"
                      class="desktop11-divinput3o04eu"
                    />
                  </div>
                  <div class="desktop11-div">
                    <div class="desktop11-label1">
                      <span class="desktop11-text05">Apellido</span>
                      <span class="desktop11-text06">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese su apellido/s"
                      class="desktop11-input-password"
                    />
                  </div>
                  <div class="desktop11-div1">
                    <div class="desktop11-label2">
                      <span class="desktop11-text07">Email</span>
                      <span class="desktop11-text08">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese su email"
                      class="desktop11-input-password1"
                    />
                  </div>
                  <div class="desktop11-div2">
                    <div class="desktop11-label3">
                      <span class="desktop11-text09">Nombre de usuario</span>
                      <span class="desktop11-text10">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese su nombre de usuario"
                      class="desktop11-input-password2"
                    />
                  </div>
                  <div class="desktop11-div3">
                    <div class="desktop11-label4">
                      <span class="desktop11-text11"><span>Contraseña</span></span>
                      <span class="desktop11-text13">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese contraseña"
                      class="desktop11-input-password3"
                    />
                  </div>
                  <div class="desktop11-div4">
                    <div class="desktop11-label5">
                      <span class="desktop11-text14">
                      <span>Imagen de perfil</span>
                      </span>
                      <span class="desktop11-text16">*</span>
                    </div>
                    <input
                    id="input-imagen"
                    type="file"
                    accept="image/*"
                    placeholder="Selecciona una imagen"
                    class="desktop11-input-password4"
                    />
                  </div>
                  <div class="desktop11-divmargin-top42jfjji">
                    <button class="desktop11-button"></button>
                  </div>
                </div>
                <button class="desktop11-button1">
                  <div class="desktop11-divcontents3nemb-x">
                    <span class="desktop11-text17">
                      <span>Guardar cambios</span>
                    </span>
                  </div>
                </button>
                <button class="desktop11-button2">
                  <div class="desktop11-divcontents3nemb-x1">
                    <span class="desktop11-text19">
                      <span>Eliminar Perfil</span>
                    </span>
                  </div>
                </button>
              </div>
              <div class="desktop11-divqr-login-inner1pht-z"></div>
              <a href="../templates/main.html">
                <span class="desktop11-text21"><span>Volver al inicio</span></span>
              </a>
            </div>
          </div>
          <div class="desktop11-frame7">
            <img
              src="../assets/ChatMaster.png"
              alt="ChatMaster"
              class="desktop11-chat-master1"
            />
          </div>
        </div>
      </div>
      <script src="../scripts/modificar_usuario.js"></script>
</body>
</html>