<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_modificar_canal.css" rel="stylesheet"/>
    <title>CM - Modificar canal</title>
</head>
<body>
    <div class="desktop10-container">
        <div class="desktop10-desktop10">
          <div class="desktop10-form">
            <div class="desktop10-divflex2s1xbf">
              <div class="desktop10-divmain-login-containerw-hm-aj-p">
                <div class="desktop10-divheader6m5op-b">
                  <span class="desktop10-text"><span>MODIFICAR CANAL</span></span>
                </div>
                <div class="desktop10-divblock3u-vsn4">
                  <div class="desktop10-divmargin-bottom20315rvt">
                    <div class="desktop10-label">
                      <span class="desktop10-text2"><span>Nombre</span></span>
                      <span class="desktop10-text4">*</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Ingrese un nombre"
                      class="desktop10-divinput3o04eu"
                    />
                  </div>
                </div>
                <button class="desktop10-button">
                  <div class="desktop10-divcontents3nemb-x">
                    <span class="desktop10-text5"><span>Modificar</span></span>
                  </div>
                </button>
                <div class="desktop10-frame3">
                    <a href="../templates/main.html">
                        <span class="desktop10-text7"><span>Volver al Inicio</span></span>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div class="desktop10-frame2">
            <img
              src="../assets/ChatMaster.png"
              alt="ChatMaster"
              class="desktop10-chat-master1"
            />
          </div>
        </div>
      </div>
</body>
</html>