<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro en ChatMaster</title>
    <link rel="stylesheet" href="../styles/styles_registro.css">
</head>
<body>
    <div class="desktop2-container">
        <div class="desktop2-desktop2">
          <div class="desktop2-form">
            <div class="desktop2-divflex2s1xbf">
              <div class="desktop2-divmain-login-containerw-hm-aj-p">
                <div class="desktop2-divheader6m5op-b">
                  <span class="desktop2-text">Crear una cuenta</span>
                </div>
                <div class="desktop2-divblock3u-vsn4">
                  <div class="desktop2-divmargin-bottom20315rvt">
                    <div class="desktop2-label">
                      <span class="desktop2-text01">Nombre</span>
                      <span class="desktop2-text02">*</span>
                    </div>
                    <input
                      type="text"
                      id="nombre_usuario"
                      placeholder="Juan"
                      class="desktop2-input-nombre"
                    />
                  </div>
                  <div class="desktop2-div">
                    <div class="desktop2-label1">
                      <span class="desktop2-text03">Apellido</span>
                      <span class="desktop2-text04">*</span>
                    </div>
                    <input
                      type="text"
                      id="apellido_usuario"
                      placeholder="Perez"
                      class="desktop2-input-apellido"
                    />
                  </div>
                  <div class="desktop2-div1">
                    <div class="desktop2-label2">
                      <span class="desktop2-text05">Email</span>
                      <span class="desktop2-text06">*</span>
                    </div>
                    <input
                      type="text"
                      id="email_usuario"
                      placeholder="juanperez@ejemplo.com"
                      class="desktop2-input-apellido"
                    />
                  </div>
                  <div class="desktop2-divmargin-top42jfjji">
                    <button class="desktop2-button"></button>
                  </div>
                  <div class="desktop2-div2">
                    <div class="desktop2-label3">
                      <span class="desktop2-text07">Nombre de usuario</span>
                      <span class="desktop2-text08">*</span>
                    </div>
                    <input
                      type="text"
                      id="nombre_usuario2"
                      placeholder="Ingrese su nombre de usuario"
                      class="desktop2-input-username"
                    />
                  </div>
                  <div class="desktop2-div3">
                    <div class="desktop2-label4">
                      <span class="desktop2-text09">Contraseña</span>
                      <span class="desktop2-text10">*</span>
                    </div>
                    <input
                      type="text"
                      id="contrasenia"
                      placeholder="Ingrese contraseña"
                      class="desktop2-input-password"
                    />
                  </div>
                </div>
                <button class="desktop2-button1">
                  <div class="desktop2-divcontents3nemb-x">
                    <span class="desktop2-text11">Continuar</span>
                  </div>
                </button>
              <div>
                <a href="../templates/login.html" class="desktop2-text12">¿Ya tienes una cuenta?</a>
            </div>
        </div>
              <img
                src="../assets/ChatMaster.png"
                alt="ChatMaster"
                class="desktop2-divvertical-separator2r9g-ha"
              />
              <div class="desktop2-divqr-login-inner1pht-z"></div>
            </div>
        </div>
          <img
            src="../assets/ChatMaster.png"
            alt="ChatMaster"
            class="desktop2-chat-master1"
          />
        </div>
      </div>
    </div>
  <script src="../scripts/registro.js"></script>
</body>
</html>