<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_usuario.css" rel="stylesheet"/>
    <title>CM - Perfil</title>
</head>
<body>
  <div class="desktop7-container">
    <div class="desktop7-desktop7">
      <button class="desktop7-button" onclick="window.location.href='../templates/main.html'">
        <div class="desktop7-divcontents3nemb-x">
          <span class="desktop7-text"><span>Volver al inicio</span></span>
        </div>
      </button>
      <div class="desktop7-frame4">
        <img
          alt="imagen_perfil"
          src="../assets/user.png"
          class="desktop7-ellipse1"
        />
      </div>
      <div class="desktop7-frame5">
        <span class="desktop7-text02"><span>Omotayo Kofoworola</span></span>
      </div>
      <div class="desktop7-email-city-state-country-phone">
        <span class="desktop7-text04">
          <span>kofoworolaomotayo@gmail.com</span>
        </span>
        <span class="desktop7-text06"><span>Ikoyi</span></span>
        <span class="desktop7-text08"><span>Lagos</span></span>
        <span class="desktop7-text10"><span>Nigeria</span></span>
        <span class="desktop7-text12"><span>Nombre usuario</span></span>
        <span class="desktop7-text14"><span>Nombre</span></span>
        <span class="desktop7-text16"><span>Apellido</span></span>
        <span class="desktop7-text18"><span>Email</span></span>
      </div>
      <button class="desktop7-edit-button" onclick="window.location.href='../templates/modificar_usuario.html'">
        <div class="desktop7-group1">
          <div class="desktop7-pencil-edit">
            <img
              alt="editar"
              src="../assets/boligrafo.png"
              class="desktop7-vector"
            />
          </div>
          <span class="desktop7-text20">Editar</span>
        </div>
      </button>
    </div>
  </div>
  <script src="../scripts/usuario.js"></script>
</body>
</html>