<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/styles_usuario.css" rel="stylesheet"/>
    <title>CM - Perfil</title>
</head>
<body>
    <div class="desktop7-container">
        <div class="desktop7-desktop7">
          <div class="desktop7-frame4">
            <img
              src="../assets/avatar1.jpg"
              alt="Ellipse13416"
              class="desktop7-ellipse1"
            />
          </div>
          <div class="desktop7-frame5">
            <span class="desktop7-text"><span>Omotayo Kofoworola</span></span>
          </div>
          <div class="desktop7-email-city-state-country-phone">
            <span class="desktop7-text02">omato</span>
            <span class="desktop7-text03"><span>Ikoyi</span></span>
            <span class="desktop7-text05"><span>Lagos</span></span>
            <span class="desktop7-text07"><span>Nigeria</span></span>
            <span class="desktop7-text09"><span>Nombre usuario</span></span>
            <span class="desktop7-text11"><span>Nombre</span></span>
            <span class="desktop7-text13"><span>Apellido</span></span>
            <span class="desktop7-text15"><span>Email</span></span>
          </div>
          <div class="desktop7-frame1"></div>
          <a href="../templates/modificar_usuario.html">
              <button class="desktop7-edit-button">
                <div class="desktop7-group1">
                  <div class="desktop7-pencil-edit">
                  <img
                    src="../assets/boligrafo.png"
                    alt="Editar"
                    class="desktop7-ellipse2"
                  />
                </div>
                <span class="desktop7-text17"><span>EDITAR</span></span>
              </div>
            </button>
          </a>
        </div>
      </div>
</body>
</html>